<li class="menu__item">
    <article class="card">
        <img src="{{image}}" alt="{{name}}" class="card__image" />
        <div class="card__content">
            <h2 class="{{ name }}">Картофель, запеченный в мундире</h2>
            <p class="card__price">
                <i class="material-icons"> monetization_on </i>
                {{price}} кредитов
            </p>

            <p class="{{description}}">
                Ароматный, сытный, шипящий домашний картофель, фаршированный
                сметанно-беконной начинкой, — это очень простой и очень эффектный способ
                накормить большое количество человек, практически не потратив на готовку
                ни сил, ни времени. Обычную картошку при желании тут можно заменить на
                сладкий батат, а в начинку добавить, к примеру, кукурузу или сладкий
                красный перец.
            </p>

            <ul class="tag-list">
                {{#each ingredients}}
                <li class="tag-list__item">{{this}}</li>
                {{/each}}
            </ul>
        </div>

        <button class="card__button button">
            <i class="material-icons button__icon"> shopping_cart </i>
            В корзину
        </button>
    </article>
</li>